<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>买房要省钱  就找环太网</title>
    <meta name="baidu-site-verification" content="WnXc8PvRtB" />
    <meta name="360-site-verification" content="9d81d64111f394cd8a83a3570810ad00" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,IE=edge,chrome=1">
    <meta name="keywords" content="环太网 环太网房产 环太网买房 环太网卖房 二手房 真实二手房 无中介费 卖房 买房 郑州二手房 环太郑州二手房 环太网郑州 环太">
    <meta name="Description" content="环太网，一家打破传统二手房交易模式，以节省购房费用，提高交易效率为主要目标的新型互联网二手房新中介。中介费比别人省60%，全国230家门店，3500名经纪人，成立5年来为买房人省钱超过16亿元。买房要省钱，就找环太网成为众多二手房购房者的共识。">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="shortcut icon" href="../images/a/desktop/img/favicon-new.ico" type="image/x-icon"/>
    <link type="text/css" href="../css/public.min.css"  th:href="@{/css/public.min.css}" rel="stylesheet" />
    <link type="text/css" href="../css/animate.css" th:href="@{/css/animate.css}" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../css/new_home.css" th:href="@{/css/new_home.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">
    <link rel="stylesheet"th:href="@{/css/mainpage/main.css}">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.1/umd/popper.js}" ></script>
    <script src="../js/vendor/avalon.min.js" type="text/javascript" th:src="@{/js/vendor/avalon.min.js}"></script>
    <script src="../js/new_home.js" th:src="@{/js/new_home.js}"></script>
    <script src="../js/base.min.js" th:src="@{/js/vendor/base.min.js}" ></script>
    <script src="../js/jquery-ui-1.10.4.min.js" th:src="@{/js/vendor/jquery-ui-1.10.4.min.js}"></script>
    <script src="../js/jquery.mousewheel.min.js" th:src="@{/js/vendor/jquery.mousewheel.min.js}"></script>
    <script src="../js/home.js" th:src="@{/js/vendor/home.js}"></script>
    <script src="../js/mainpage/main.js" th:src="@{/js/mainpage/main.js}"></script>
</head>
<body ms-controller="public_page">
<!-- main-content -->


<div class="home-main" id="home">
    <!--logo与位置导航-->
    <div>
        <div >

       <div class="position_bar">

          <a href="../html/selectlocation.html" ><span th:text="${city}==null?'会泽县':${city}"></span></a>
           <img src="../images/city_ico.jpg">
       </div>
        </div>
    <img class="logo" src="../images/a/desktop/img/public/logo.png">
    </div>
    <!--导航栏-->
   <div class="slidbar">
    <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <li th:each="product : ${menu}" class="nav-item">
            <a class="nav-link" href="#" th:text="${product.getMenu()}"></a>
        </li>
    </ul>
    </nav>
</div>

    <!--banner轮播图-->
    <div id="demo"  class="carousel" data-ride="carousel">
        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li  th:each="scrollimg,scrollstar : ${findscrollsmg}" data-target="#demo" th:data-slide-to="${scrollstar.index}"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div th:each="scrollimg,scrollstar : ${findscrollsmg}" th:if="${scrollstar.index==0}" class="carousel-item active">
                <img th:src="${scrollimg.getImgpath()}">
                <div class="carousel-caption">
                    <h3 th:text="${scrollimg.getImgtitle()}">第一张图片描述标题</h3>
                    <p th:text="${scrollimg.getImgdetails()}">描述文字!</p>
                </div>
            </div>

            <div th:each="scrollimg, scrollstar:${findscrollsmg}" th:if="${scrollstar.index!=0}" class="carousel-item">
                <img th:src="${scrollimg.getImgpath()}">
                <div class="carousel-caption">
                    <h3 th:text="${scrollimg.getImgtitle()}">第一张图片描述标题</h3>
                    <p th:text="${scrollimg.getImgdetails()}">描述文字!</p>
                </div>
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>




    </div>
    <!--搜索框-->
        <div class="input-group search">
            <table  id="titlebox">
                <tr >
                    <td><a onclick="mytitleclick(this)" tabindex="0" style="font-size: large ;color: whitesmoke;" class="title" >新房</a></td>
                    <td><a onclick="mytitleclick(this)" tabindex="1" style="font-size: large ;color: whitesmoke;" class="title">小区</a></td>
                    <td><a onclick="mytitleclick(this)" tabindex="2" style="font-size: large ;color: whitesmoke;" class="title">二手房</a></td>
                    <td><a onclick="mytitleclick(this)" tabindex="3" style="font-size: large ;color: whitesmoke;" class="title">租房</a></td>
                </tr>
                <tr>
                    <td ><img  src="../images/search-arr.png"></td>
                    <td><img   src="../images/search-arr.png"></td>
                    <td><img  src="../images/search-arr.png"></td>
                    <td><img   src="../images/search-arr.png"></td>
                </tr>


            </table>
            <form style="width: 100%;" action="https://www.baidu.com" id="search_form" autocomplete="off";>
                <div class="input-group">
                    <div class="nice-select">
            <input autocomplete="off";  type="text" oninput="myinput(this)" name="searchinput" placeholder="请输入房源信息" id="searchinput"
                    class="form-control put">
                    <ul th:id="searchlist" class="box" >
                    </ul>
                    </div>
            <span  class="input-group-btn">
						<button onclick="searchsubmitclick(this)" class="btn btn-default" type="button">
						查找房源
						</button>

					</span>
                </div>
            </form>
        </div><!-- /input-group -->
    <!--banner轮播结束-->




    <!--房源推荐-->
    <div class="house-recommend" th:if="${oldrrecommenthouseinfo!=null}">
        <div class="content-wapper">
            <div class="title">
                <img src="../images/a/desktop/img/home/house_recommend_tit.png" class="title_img">
                <a href="" class="title_href" target="_blank">更多房源</a>
            </div>
            <ul class="recommend_list">
                <li th:each="oldhouse,start:${oldrrecommenthouseinfo}" >
                    <a href="/zz/house/261138" target="_blank" class="recommend_list_href"></a>
                    <div class="recommend_list_main">
                        <div class="recommend_list_main_img">
                            <img th:each="img,imgstart:${oldhouse.getOldimgEntity()}"  th:src="${img.getImgurl()}" th:if="${imgstart.index==0}" onerror="this.src='../images/a/desktop/img/public/default-new.jpg'">
                            <span class="house_price" th:text="${oldhouse.getPrice()}+'万'">140万</span>
                        </div>
                        <div class="recommend_list_main_info">
                            <div class="house_info">
                                <span class="name"><a th:text="${oldhouse.getLocationid()}">珠江荣域</a></span>
                                <span class="info" th:text="${oldhouse.getHouseStructureEntity().getBedroom()}+'室'+${oldhouse.getHouseStructureEntity().getLobby()}+厅+${oldhouse.getHouseStructureEntity().getKitchen()}+'厨'+${oldhouse.getHouseStructureEntity().getToilet()}+'卫'">3室2厅</span>
                                <span class="info">102㎡</span>
                            </div>
                            <div class="recommend_agent">
                                <img onerror="this.src='../images/a/desktop/img/public/default-face.jpg';this.onerror='';"
                                     th:src="${oldhouse.getOldhouseEntity().getOldhouseuserinfo().getHeadimgpath()}" class="agent_img">
                                <div class="agent_info">
                                    <span class="agent_name" th:text="${oldhouse.getOldhouseEntity().getOldhouseuserinfo().getName()}">祝桥欢</span>
                                    <span class="agent_tip" th:text="${oldhouse.getOldhouseEntity().getOldhouseinfoEntity().getHeadline()}">双气社区，地铁口，随时看...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
    <!--房源推荐结束-->

    <!--新房推荐-->
    <div class="house-recommends"th:if="${recommenthouseinfo!=null}">
        <div class="content-wapper">
            <div class="title">
                <img src="../images/a/desktop/img/home/newhouse_recommend_tit.png" class="title_img">
                <a th:href="@{/huantai.newhouseinfo(citycode=${citycode})}" class="title_href">更多房源</a>
            </div>
            <ul class="recommend_list">
                <li th:each="house_info,start:${recommenthouseinfo}"
                    th:if="${start.index!=start.count-1}">
                    <div class="recommend_list_main">
                        <div class="recommend_list_main_img">
                            <a href="" target="_blank">
                                <img th:each="img,start:${house_info.getImgEntity()}" th:if="${start.index==0}" th:src="${img.getImgpath()}" onerror="this.src='../images/a/desktop/img/public/default-new.jpg';this.onerror=null">
                                <div class="main_mask"></div>
                                <div class="house_name" th:text="${house_info.getHeadline()}">保利文化广场</div>
                                <div class="house_room" th:text="'均价'+${house_info.getUnitprice()}+'/㎡'">均价9500元/㎡</div>
                            </a>
                        </div>
                    </div>
                </li>

                <li  class="last"  th:each="house_info,start:${recommenthouseinfo}"
                     th:if="${start.index==start.count-1}">
                    <div class="recommend_list_main">
                        <div class="recommend_list_main_img">
                            <a href="" target="_blank">
                                <img th:each="img,start:${house_info.getImgEntity()}" th:if="${start.index==0}" th:src="${img.getImgpath()}" data-src="//img.zhen22.com/pics/community/4101/620/9faccf9ad2e840ab1396dab38eaecc5c/354.236.jpg" onerror="this.src='../images/a/desktop/img/public/default-new.jpg';this.onerror=null">
                                <div class="main_mask"></div>
                                <div class="house_name" th:text="${house_info.getHeadline()}">保利文化广场</div>
                                <div class="house_room" th:text="'均价'+${house_info.getUnitprice()}+'/㎡'">均价9500元/㎡</div>
                            </a>
                        </div>
                </li>
            </ul>
        </div>
    </div>
    <!--新房推荐结束-->


    <!--租房推荐-->
    <div class="renting_house-recommend" th:if="${rentingrecommenthouse!=null}">
        <div class="content-wapper">
            <div class="title">
                <img src="../images/a/desktop/img/home/rentinghouse_recommend_tit.png" class="title_img">
                <a href="" class="title_href" target="_blank">更多房源</a>
            </div>
            <ul class="recommend_list">
                <li th:each="rentinghouse,start:${rentingrecommenthouse}" >
                    <a href="/zz/house/261138" target="_blank" class="recommend_list_href"></a>
                    <div class="recommend_list_main">
                        <div class="recommend_list_main_img">
                            <img th:each="img,imgstart:${rentinghouse.getRentingImgEntity()}"  th:src="${img.getImgurl()}" th:if="${imgstart.index==0}" onerror="this.src='../images/a/desktop/img/public/default-new.jpg'">
                            <span class="house_price" th:text="${rentinghouse.getPrice()}+'万'">140万</span>
                        </div>
                        <div class="recommend_list_main_info">
                            <div class="house_info">
                                <span class="name"><a th:text="${rentinghouse.getLocationid()}">珠江荣域</a></span>
                                <span class="info" th:text="${rentinghouse.getHouseStructureEntity().getBedroom()}+'室'+${rentinghouse.getHouseStructureEntity().getLobby()}+厅+${rentinghouse.getHouseStructureEntity().getKitchen()}+'厨'+${rentinghouse.getHouseStructureEntity().getToilet()}+'卫'">3室2厅</span>
                                <span class="info">102㎡</span>
                            </div>
                            <div class="recommend_agent">
                                <img onerror="this.src='../images/a/desktop/img/public/default-face.jpg';this.onerror='';"
                                     th:src="${rentinghouse.getRentinghouseEntity().getUserinfoEntity().getHeadimgpath()}" class="agent_img">
                                <div class="agent_info">
                                    <span class="agent_name" th:text="${rentinghouse.getRentinghouseEntity().getUserinfoEntity().getName()}">祝桥欢</span>
                                    <span class="agent_tip" th:text="${rentinghouse.getRentinghouseEntity().getRentinghouseinfoEntity().getHeadline()}">双气社区，地铁口，随时看...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
    <!--委托-->
    <div class="zz_entrust">
        <div class="entrust_wrapper">
            <a href="/zz/house/create_direct/" class="entrust_sub" target="_blank"></a>
            <div class="help_btn show_popup_btn" data-type="help"></div>
        </div>
    </div>
    <!--委托结束-->
    <!--房小二卖房日记-->
    <!--房小二卖房日记结束-->
    <!--地图-->
    <div class="map zz">
        <div class="public_title">签约中心<span class="light">全城覆盖</span></div>
        <div class="href_main">
            <div class="centers_href first" data-direction="left">
                <a href="/zz/search/map?center_id=1" target="_blank"><div class="center_address_btn">金水路未来路升龙大厦610室</div></a>
                <i class="left_arrow_before"></i>
                <i class="left_arrow_after"></i>
                <link rel="stylesheet" href="../css/center_info.css">
                <div class="center_info_main" v-cloak>
                    <div class="center_info_top">
                        <div class="center_info_wrapper">
                            <img src="../images/a/desktop/img/public/center_default_img.jpeg" data-src="https://img.zhen22.com/pics/center/1/65a5dcdfe02f927d148b979d166dd0d2/750.400.jpg"
                                 onerror="this.src='../images/a/desktop/img/public/center_default_img.jpeg';this.onerror=null">
                        </div>
                        <div class="center_info_content">
                            <div class="center_info_name">金水一区 <span
                                    class="center_tel">15003832468</span>
                            </div>
                            <div class="center_info_address">金水路未来路升龙大厦610室</div>
                            <div class="center_desc_tit">门店简介</div>
                            <div class="center_desc">
                                金水一区自2015年10月成立，目前有房小二30+，服务区域紫荆山、金水路等，成立以来已成功帮助上千名客户安家郑州，秉承“客户第一”的服务理念，帮您更好更省实现置业梦想。
                            </div>
                        </div>
                    </div>
                    <div class="center_agent_list">
                        <ul class="recommend_agent_list">
                            <li class="recommend_agent_item">
                                <div class="recommend_agent_img">
                                    <a href="/zz/agent/detail/18071542" target="_blank">
                                        <img src="../images/a/desktop/img/public/default-face.jpg" data-src="https://file.zhen22.com/agent/avatar/summer/18071542.jpg" onerror="this.src='../images/a/desktop/img/public/default-face.jpg';this.onerror='';">
                                    </a>
                                </div>
                                <img src="../images/a/desktop/img/business_agent_ico.png" class="recommend_agent_ico">
                                <div class="recommend_agent_name">张芳龙</div>
                            </li>
                        </ul>
                    </div>
                    <a href="/zz/search/map?center_id=1" target="_blank"
                       class="center_map">地图</a>
                </div>            </div>
            <div class="centers_href second" data-direction="right">
                <a href="/zz/search/map?center_id=13" target="_blank"><div class="center_address_btn">未来路航海路向西500米路南正商国际广场A座1403室</div></a>
                <i class="right_arrow_before"></i>
                <i class="right_arrow_after"></i>

                <div class="center_info_main" v-cloak>
                    <div class="center_info_top">
                        <div class="center_info_wrapper">
                            <img src="../images/a/desktop/img/public/center_default_img.jpeg" data-src="https://img.zhen22.com/pics/center/13/dbd3f82be2221da4c07b214b7b3dd54c/750.400.jpg"
                                 onerror="this.src='../images/a/desktop/img/public/center_default_img.jpeg';this.onerror=null">
                        </div>
                        <div class="center_info_content">
                            <div class="center_info_name">管城一区 <span
                                    class="center_tel">        400-013-2229转2</span>
                            </div>
                            <div class="center_info_address">未来路航海路向西500米路南正商国际广场A座1403室</div>
                            <div class="center_desc_tit">门店简介</div>
                            <div class="center_desc">
                                管城一区自2016年4月成立，目前有房小二40+，服务整个管城区，成立以来已成功帮助近千名客户安家郑州，秉承“客户第一”的服务理念，帮您更好更省实现置业梦想。
                            </div>
                        </div>
                    </div>
                    <div class="center_agent_list">
                        <ul class="recommend_agent_list">
                            <li class="recommend_agent_item">
                                <div class="recommend_agent_img">
                                    <a href="/zz/agent/detail/17111275" target="_blank">
                                        <img src="../images/a/desktop/img/public/default-face.jpg" data-src="https://file.zhen22.com/agent/avatar/summer/17111275.jpg" onerror="this.src='../images/a/desktop/img/public/default-face.jpg';this.onerror='';">
                                    </a>
                                </div>
                                <img src="../images/a/desktop/img/business_agent_ico.png" class="recommend_agent_ico">
                                <div class="recommend_agent_name">闪婉婉</div>
                            </li>
                        </ul>
                    </div>
                    <a href="/zz/search/map?center_id=13" target="_blank"
                       class="center_map">地图</a>
                </div>            </div>
        </div>    </div>
    <!--地图结束-->

    <!--调查-->
    <div class="why-choice">
        <div class="content-wapper">
            <div class="title">为什么选择环太网</div>
            <div class="choice_list">
                <div class="choice_item">
                    <a href="/zz/agent" target="_blank" class="choice_href"></a>
                    <div class="choice_img_wrapper">
                        <img src="../images/a/desktop/img/home/choice1.png" class="choice_ico">
                    </div>
                    <div class="choice_title">专业</div>
                    <div class="choice_text">环太网有二手房专业交易顾问房小二，环太网签约中心覆盖全城，让我们离您更近，更高效地为您服务。</div>
                </div>
                <div class="choice_item">
                    <a href="/zz/agent#price" class="choice_href" target="_blank"></a>
                    <div class="choice_img_wrapper">
                        <img src="../images/a/desktop/img/home/choice2.png" class="choice_ico">
                    </div>
                    <div class="choice_title">省钱</div>
                    <div class="choice_text">中介费比别人省60%，全国230家门店，3500名经纪人，成立5年来为买房人省钱超过16亿元。</div>
                </div>
                <div class="choice_item last">
                    <a href="//static.zhen22.com/mfgl/" class="choice_href" target="_blank"></a>
                    <div class="choice_img_wrapper">
                        <img src="../images/a/desktop/img/home/choice3.png" class="choice_ico">
                    </div>
                    <div class="choice_title">安全</div>
                    <div class="choice_text">环太网提供三方买卖合同，对接多家合作银行，设立银行面签服务点，保障买卖双方权益，确保交易资金安全。</div>
                </div>
            </div>
            <div class="choice_bg"></div>
        </div>
    </div>
    <!--调查结束-->
    <script>
        var popup_agent_id = 17051140
    </script>	<!--mian end-->
</div>


<!-- /end main-content -->
<div th:fragment="bottom" class="new_footer">
    <div class="footer_wrapper">
        <div class="footer_url_box">
            <ul class="footer_list">
                <li>
                    <a href="//static.zhen22.com/about_us/" target="_blank">关于我们</a>
                </li>
                <li>
                    <a href="//static.zhen22.com/service/" target="_blank">服务条款</a>
                </li>
                <li>
                    <a href="//static.zhen22.com/mfgl/" target="_blank">交易流程</a>
                </li>
                <li>
                    <a href="/zz/live-peace/" target="_blank">安心住</a>
                </li>
                <li>
                    <a href="//static.zhen22.com/zz-act-jyws/" target="_blank">交易卫士</a>
                </li>
                <li>
                    <a href="//static.zhen22.com/jobs/" target="_blank">环太招聘</a>
                </li>
                <li>
                    <a href="/zz/web-map" target="_blank">网站地图</a>
                </li>
                <li>
                    <a href="//static.zhen22.com/copyright/" target="_blank">版权声明</a>
                </li>
                <li>
                    <a href="/cdn-cgi/l/email-protection#ceadaba18eb4a6aba0fcfce0ada1a3">投诉建议邮箱:<span class="__cf_email__" data-cfemail="8eedebe1cef4e6ebe0bcbca0ede1e3">[email&#160;protected]</span></a>
                </li>
            </ul>
            <div class="footer_phone">服务热线 <span>        400-013-2229转2</span></div>
        </div>
        <div class="link_box">
            <div class="link_main">
                <div class="tab_menu">
                    <ul><li class="tab_btn active">
                        热门区域
                    </li>
                        <li class="tab_btn">
                            热门小区
                        </li>
                        <li class="tab_btn">
                            友情链接
                        </li>
                    </ul></div>
                <div class="tab_box">
                    <div class="tab active">
                        <ul><li><a target="_blank" href="http://www.zhen22.com/zz/search/?d=%E9%87%91%E6%B0%B4">金水区二手房</a></li>
                            <li><a target="_blank" href="http://www.zhen22.com/zz/search/?d=%E4%B8%AD%E5%8E%9F">中原区二手房</a></li>
                            <li><a target="_blank" href="http://www.zhen22.com/zz/search/?d=%E4%BA%8C%E4%B8%83">二七区二手房</a></li>
                        </ul></div>
                    <div class="tab">
                        <ul><li><a target="_blank" href="http://www.zhen22.com/zz/search/?key=%E5%BE%B7%E6%B6%A6%E9%BB%84%E9%87%91%E6%B5%B7%E5%B2%B8">德润黄金海岸</a></li>
                            <li><a target="_blank" href="http://www.zhen22.com/zz/search/?key=%E5%8D%87%E9%BE%99%E5%87%A4%E5%87%B0%E5%9F%8E">升龙凤凰城</a></li>
                        </ul></div>
                    <div class="tab">
                        <ul><li><a target="_blank" href="http://henan.qq.com">大豫网</a></li>
                            <li><a target="_blank" href="http://zz.house.qq.com">腾讯房产</a></li>
                            <li><a target="_blank" href="http://zzgjj.zhengzhou.gov.cn/">郑州公积金管理中心</a></li>
                        </ul></div>
                </div>
            </div>

            <div class="footer_code">
                <img src="../images/a/desktop/img/wechat_code/footer.png">
            </div>
        </div>
        <div class="footer_copyright">
            <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6d2e021d141f040a05192d5f5d5c59">[email&#160;protected]</a> - 2019 Real Second Hand.All Rigts Reserved | <a style="color: #666666;" href="http://www.miitbeian.gov.cn" target="_blank">豫ICP备14013595号</a><br>环太（深圳）房产经纪有限公司
        </div>
    </div>
</div>
</body>
</html>