<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>环太网</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="background: url(../static/images/bg.jpg) no-repeat left top; background-attachment: fixed;">
    <div class="banner">
        <div class="nav wrapper cl">
            <div class="logo">
                <img src="../images/logo.png" alt="">
            </div>

            <div class="right">
                <div class="user cl">
                    <div class="user-login"><a href="">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">注册</a></div>
                    <div class="user-center"><a href="">个人中心</a></div>
                </div>

                <div class="nav-list">
                    <ul class="cl">
                        <li><a href="">首页</a></li>
                        <li><a href="">二手房</a></li>
                        <li><a href="">新房</a></li>
                        <li><a href="">小区列表</a></li>
                        <li><a href="">地图找房</a></li>
                        <li><a href="">发布房源</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="logo-txt">
            <img src="../images/logo-txt.png" alt="">
        </div>

        <div class="search">
            <div class="search-type">
                <ul class="cl">
                    <li class="on">二手房</li>
                    <li>新房</li>
                    <li>小区</li>
                </ul>
            </div>
            <div class="search-input cl">
                <input type="text" name="" id="" placeholder="请输入小区名称搜索">
                <input type="submit" value="开始找房">
            </div>
        </div>
    </div>

    <div class="publink">
         <div class="wrapper cl">
            <div class="pic"><img src="../images/publink.png" alt=""></div>
            <div class="btn">
                <a href="">在线发布</a>
                <p>拨打卖房热线：400-12345678</p>
            </div>
         </div>
    </div>

    <div class="adv">
        <div class="wrapper">
            <h2>我们的优势</h2>
            <ul class="cl">
                <li>
                    <img src="../images/adv1.png" width="120" alt="">
                    <h4>专业</h4>
                    <p>我们是二手房专业交易顾问，门店签约中心覆盖全城，让我们离您更近，更高效地为您服务。</p>
                </li>

                <li>
                    <img src="../images/adv2.png" width="120" alt="">
                    <h4>省钱</h4>
                    <p>中介费比别人省60%，1000名经纪人，成立4年来为买房人省钱超过15亿元。</p>
                </li>
                <li>
                    <img src="../images/adv3.png" width="120" alt="">
                    <h4>安全</h4>
                    <p>提供三方买卖合同，对接多家合作银行，设立银行面签服务点，保障买卖双方权益，确保交易资金安全。</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="links wrapper">
            <a href="">关于我们</a>
            <a href="">联系我们</a>
            <a href="">加入我们</a>
            <a href="">隐私声明</a>
            <a href="">网站地图</a>
            <a href="">友情链接</a>
        </div>

        <div class="er wrapper cl">
            <div class="phone"></div>

            <div class="pic"></div>
        </div>

        <div class="copyright wrapper">
            <p>XXXXXXXX有限公司 | 网络经营许可证 豫ICP备123456789号</p>
            <p>© Copyright©2019-2029 XXXXXXXX版权所有</p>
        </div>
    </div>
</body>
</html>