<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="baidu-site-verification" content="WnXc8PvRtB" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="address=no;">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name=”apple-mobile-web-app-status-bar-style” content=black”/>
    <meta content="telephone=no" name="format-detection"/>
    <title>真二网</title>
    <meta name="keywords" content="真二网 真二网房产 真二网买房 真二网卖房 二手房 真实二手房 无中介费 卖房 买房 郑州二手房 真二郑州二手房 真二网郑州 真二">
    <meta name="Description" content="真二网，没有中介费的真实二手房交易平台。颠覆传统，让买卖房屋更加方便快捷，省钱省力。卖房省劲，一分钟快速发布房源，这里保护您的隐私，隐藏手机号码，避免骚扰。买房省钱，直接沟通卖家，无中介费用。买房卖房，用真二网！">
    <link type="text/css" href="//static1.zhen22.com/a/mobile/css/topbar.min.css?22" rel="stylesheet" /><link type="text/css" href="//static1.zhen22.com/a/mobile/css/home.min.css?27" rel="stylesheet" />
    <!-- PHPStat Start -->
    <!--/PHPStat End -->

    <!-- Bytedance Tracking -->
    <script>
        (function(r,d,s,l){var meteor=r.meteor=r.meteor||[];meteor.methods=["track","off","on"];meteor.factory=function(method){return function(){
            var args=Array.prototype.slice.call(arguments);args.unshift(method);meteor.push(args);return meteor}};for(var i=0;i<meteor.methods.length;i++){
            var key=meteor.methods[i];meteor[key]=meteor.factory(key)}meteor.load=function(){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);
            js.src="https://analytics.snssdk.com/meteor.js/v1/"+l+"/sdk";fjs.parentNode.insertBefore(js,fjs)};meteor.load();if(meteor.invoked){return}
            meteor.invoked=true;meteor.track("pageview")})(window,document,"script","1182701720709707");
    </script>
    <!-- End Bytedance Tracking -->

</head>
<body>
<script>
    var g_wx_option_show = 0;

    var g_auth_url = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx353d7e64758dd209&redirect_uri=http%3A%2F%2Fm.zhen22.com%2Fzz&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect';

    var g_share_config = {
        link: g_auth_url, desc: '没有中介费的真实二手房交易平台', type: 'link'
    };
    //array
    var g_more_apis = new Array();

</script>
<!-- main-content -->
<style>
    body{
        background: #FFFFFF;
    }
</style>
<div class="red_packet red_packet_click">
    <script type="text/javascript">
        //<![CDATA[
        window.__mirage2 = {petok:"82346a24faa3305debc5013c3756352007820382-1564331725-1800"};
        //]]>
    </script>
    <script type="text/javascript" src="https://edge.yunjiasu.com/cdn-cgi/scripts/04b3eb47/cloudflare-static/mirage2.min.js"></script>
    <img data-cfsrc="//static1.zhen22.com/a/mobile/img/topbar/red_packet_img.png" alt="" class="red_packet_img" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/topbar/red_packet_img.png" alt="" class="red_packet_img"></noscript>
    <div class="red_packet_text">200元新人专享礼红包，<br>7月份限量200份！</div>
    <div class="red_packet_btn">
        <span class="red_packet_btn_text">免费领取</span>
    </div>
</div>
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="//static.zhen22.com/sc-gfj-m/"><img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/sc-gfj.png" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/sc-gfj.png"></noscript></a></div>
            <div class="swiper-slide"><a href="//static.zhen22.com/xf-baoming-m/"><img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/xf_img.jpg" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/xf_img.jpg"></noscript></a></div>
            <div class="swiper-slide"><a href="//static.zhen22.com/join-m/"><img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/jm_new_banner.png" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/sc-gfj.png"></noscript></a></div>
            <div class="swiper-slide"><a href="//static.zhen22.com/xf-baoming-m/"><img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/xf_img.jpg" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/xf_img.jpg"></noscript></a></div>
            <div class="swiper-slide"><a href="//static.zhen22.com/join-m/"><img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/jm_new_banner.png" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/jm_new_banner.png"></noscript></a></div>
            <div class="swiper-slide"><a href="//static.zhen22.com/app-save/"><img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/banner4.png?2" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/banner4.png?2"></noscript></a></div>
            <div class="swiper-slide"><a href="//m.zhen22.com/zz/agent/index"><img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/banner1.png?1" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/banner1.png?1"></noscript></a></div>
            <div class="swiper-slide"><a href="//static.zhen22.com/app_axz/"><img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/banner2.png?1" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/banner2.png?1"></noscript></a></div>
        </div>
        <div class="pagination"></div>
    </div>
    <div class="indexSearch">
        <div class="indexSelCity">
            <span class="indexName">郑州</span>
        </div>
        <span class="line"></span>
        <span class="ico"></span>
        <div class="search-text">输入小区名称开始找房</div>
    </div>
    <a href="/user/" class="user_ico"></a>
</div>
<div class="wrapper">
    <div class="entrance">
        <div class="es">
            <img class="ico" src="https://file.zhen22.com/admin/material/image/92d12112ee7024323916959edc4c2073">
            <span class="text">二手房</span>
            <a href="//m.zhen22.com/zz/search" class="href-blank"></a>
        </div>
        <div class="es">
            <img class="ico" src="https://file.zhen22.com/admin/material/image/3c94a9fa45d252d6103806aa94aece74">
            <span class="text">新房</span>
            <a href="//m.zhen22.com/zz/new-house/" class="href-blank"></a>
        </div>
        <div class="es">
            <img class="ico" src="https://file.zhen22.com/admin/material/image/518094d20ad0190b154ed9d2e787c387">
            <span class="text">发布房源</span>
            <a href="//m.zhen22.com/zz/house/create" class="href-blank"></a>
        </div>
        <div class="es">
            <img class="ico" src="https://file.zhen22.com/admin/material/image/2cacb2cab5efa92db8f56f1b105f9744">
            <span class="text">地图找房</span>
            <a href="https://m.zhen22.com/zz/search/map" class="href-blank"></a>
        </div>
        <div class="es">
            <img class="ico" src="https://file.zhen22.com/admin/material/image/993612fcd8018261d93a8ff2a45af658">
            <span class="text">法拍房</span>
            <a href="//m.zhen22.com/zz/auction" class="href-blank"></a>
        </div>
        <div class="es">
            <img class="ico" src="https://file.zhen22.com/admin/material/image/dc75c6d5bddbbfa38f0caa523ae67ba9">
            <span class="text">小区</span>
            <a href="//m.zhen22.com/zz/community" class="href-blank"></a>
        </div>
        <div class="es">
            <img class="ico" src="http://file.zhen22.com/admin/material/image/71f2923c697e6ba24d9e93074b574487">
            <span class="text">加盟</span>
            <a href="https://static.zhen22.com/join-m/" class="href-blank"></a>
        </div>
        <div class="es">
            <img class="ico" src="https://file.zhen22.com/admin/material/image/0d0785bfcbfdd319bd0b5985a16fc0d1">
            <span class="text">估房价</span>
            <a href="https://m.zhen22.com/zz/evaluate/" class="href-blank"></a>
        </div>
        <div class="es">
            <img class="ico" src="https://file.zhen22.com/admin/material/image/97e59e8aa95eafd1ab9a94b8b51222eb">
            <span class="text">租房</span>
            <a href="//m.zhen22.com/zz/rent/" class="href-blank"></a>
        </div>
    </div>
    <span class="line-fourth"></span>
    <div class="release_box">
        <img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/sub_banner.png" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/sub_banner.png"></noscript>
        <a href="/zz/house/create" class="release_href"></a>
    </div>
    <div class="enroll_box">
        <div class="enroll_item" data-type="help">
            <img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/help_banner.png" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/help_banner.png"></noscript>
        </div>
        <div class="enroll_item" data-type="policy">
            <img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/zc_banner.png" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/zc_banner.png"></noscript>
        </div>
    </div>
    <div class="hot_building">
        <div class="title">
            <span class="name">热门楼盘</span>
            <a href="/zz/new-house/search" class="more">更多</a>
        </div>
        <ul class="hot_building_list normal">
            <li class="hot_building_item">
                <a href="/zz/new-house/detail/?id=900" class="hot_building_href"></a>
                <div class="hot_building_main">
                    <div class="hot_building_img">
                        <img data-cfsrc="https://img.zhen22.com/pics/community/4101/900/31294c19268e7a81fb967b067926f2dc/270.180.jpg" alt="房源图片" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src="https://img.zhen22.com/pics/community/4101/900/31294c19268e7a81fb967b067926f2dc/270.180.jpg" alt="房源图片" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                    </div>
                    <div class="hot_building_info">
                        <span class="text">和润林湖美景二期</span>
                        <span class="address">[ 中原 ] 中原区西三环与建设路交叉口北200米路东</span>
                        <div class="price">
                            <span class="num">15000元/㎡</span>
                        </div>
                        <div class="new-tags">
                            <span>精装</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hot_building_item">
                <a href="/zz/new-house/detail/?id=904" class="hot_building_href"></a>
                <div class="hot_building_main">
                    <div class="hot_building_img">
                        <img data-cfsrc="https://img.zhen22.com/pics/community/4101/904/d19ca9f4d5d18eedcb0e24c9f257a516/270.180.jpg" alt="房源图片" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src="https://img.zhen22.com/pics/community/4101/904/d19ca9f4d5d18eedcb0e24c9f257a516/270.180.jpg" alt="房源图片" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                    </div>
                    <div class="hot_building_info">
                        <span class="text">康桥九溪天悦</span>
                        <span class="address">[ 高新 ] 西三环开元路西800米</span>
                        <div class="price">
                            <span class="num">12900元/㎡</span>
                        </div>
                        <div class="new-tags">
                            <span>毛坯</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hot_building_item">
                <a href="/zz/new-house/detail/?id=620" class="hot_building_href"></a>
                <div class="hot_building_main">
                    <div class="hot_building_img">
                        <img data-cfsrc="https://img.zhen22.com/pics/community/4101/620/9faccf9ad2e840ab1396dab38eaecc5c/270.180.jpg" alt="房源图片" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src="https://img.zhen22.com/pics/community/4101/620/9faccf9ad2e840ab1396dab38eaecc5c/270.180.jpg" alt="房源图片" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                    </div>
                    <div class="hot_building_info">
                        <span class="text">保利文化广场</span>
                        <span class="address">[ 高新 ] 高新区科学大道与银屏路交叉口西北角</span>
                        <div class="price">
                            <span class="num">9500元/㎡</span>
                        </div>
                        <div class="new-tags">
                            <span>精装</span>
                        </div>
                    </div>
                </div>
                <div class="hot_building_say">
                    <div class="say_main">
                        <span class="say_name">房小二说</span>
                        <div class="say_text">精装LOFT、平层公寓   位于郑州市高新区核心位置，南临科学大道，东临银屏路，西至雪松路，北至枫杨街</div>
                    </div>
                </div>
            </li>
        </ul>
        <a class="look_more" href="/zz/new-house/search">查看更多</a>
    </div>
    <span class="line-first"></span>
    <div class="wrapper-main">
		<span class="title">
			6月份二手房市场行情 · <span>郑州</span>
		</span>
        <ul class="market-data">
            <li class="data-item left">
                <span class="tips">均价(元/㎡)</span>
                <span class="num num1">14945</span>
            </li>
            <li class="data-item right">
                <span class="tips">成交量(套)</span>
                <span class="num num2">4635</span>
            </li>
        </ul>
    </div>
    <span class="line-first"></span>
    <div class="recommend-title">
        <div class="wrapper-main">
            <span class="text">房产百科</span>
            <a class="href" href="/zz/baike/">查看更多</a>
        </div>
    </div>
    <ul class="encyclopedia">

        <li class="encyclopedia_item">
            <a href="https://static.zhen22.com/2019下半年郑州即将入市的网红新盘，你了解多少？/"></a>
            <div class="encyclopedia_info">
                <span class="title">2019下半年郑州即将入市的网红新盘，你...</span>
            </div>
            <span class="encyclopedia_time">2019-07-24</span>
            <img src="http://file.zhen22.com/admin/material/image/892a5ba30b440bdaf4e4e4e680f2fa4c" alt="" class="encyclopedia_item_img" onerror="this.src='//static1.zhen22.com/a/touch/img/default-new.png'">
        </li>

        <li class="encyclopedia_item">
            <a href="https://static.zhen22.com/7月157套法拍房开拍！最强捡漏：二七广场商圈地铁/"></a>
            <div class="encyclopedia_info">
                <span class="title">7月157套法拍房开拍！最强捡漏：二七广...</span>
            </div>
            <span class="encyclopedia_time">2019-07-02</span>
            <img src="http://file.zhen22.com/admin/material/image/82883649438c2bbcb30cc08b5646685e" alt="" class="encyclopedia_item_img" onerror="this.src='//static1.zhen22.com/a/touch/img/default-new.png'">
        </li>
    </ul>
    <span class="line-first"></span>
    <div class="recommend-title">
        <div class="wrapper-main">
            <span class="text">推荐房源</span>
            <a class="href" href="/zz/search/">查看更多</a>
        </div>
    </div>
    <div class="recommend-containers">
        <div class="recommend-wrappers">
            <div class="recommend_items">
                <a href="/zz/house/266070/" class="target_href"></a>
                <img data-cfsrc=" https://img.zhen22.com/userimgs/610944/fb2aca1a721dca5070af05130a4d3c91/200.134.jpg" class="house_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src=" https://img.zhen22.com/userimgs/610944/fb2aca1a721dca5070af05130a4d3c91/200.134.jpg" class="house_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                <div class="house_info">
                    <span class="house_name">正商世纪港湾</span>
                    <span class="house_area">86㎡/2室2厅/120万</span>
                </div>
                <div class="waiter_info">
                    <img data-cfsrc="http://file.zhen22.com/agent/avatar/summer/17021021.jpg" class="waiter_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src="http://file.zhen22.com/agent/avatar/summer/17021021.jpg" class="waiter_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                    <div class="waiter_main">
                        <span class="waiter_name">杨召鑫</span>
                        <img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/recommend_ico.png" class="recommend_ico" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/recommend_ico.png" class="recommend_ico"></noscript>
                        <span class="text_content">双气地铁口小区 送地下室</span>
                    </div>
                </div>
            </div>
            <div class="recommend_items">
                <a href="/zz/house/254848/" class="target_href"></a>
                <img data-cfsrc=" https://img.zhen22.com/userimgs/745433/661536c6709dc5451be4e7949a945a87/200.134.jpg" class="house_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src=" https://img.zhen22.com/userimgs/745433/661536c6709dc5451be4e7949a945a87/200.134.jpg" class="house_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                <div class="house_info">
                    <span class="house_name">联合雅园</span>
                    <span class="house_area">111㎡/3室2厅/137万</span>
                </div>
                <div class="waiter_info">
                    <img data-cfsrc="http://file.zhen22.com/agent/avatar/summer/18041417.jpg" class="waiter_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src="http://file.zhen22.com/agent/avatar/summer/18041417.jpg" class="waiter_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                    <div class="waiter_main">
                        <span class="waiter_name">朱海</span>
                        <img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/recommend_ico.png" class="recommend_ico" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/recommend_ico.png" class="recommend_ico"></noscript>
                        <span class="text_content">包税送地下室！刚需首选之路</span>
                    </div>
                </div>
            </div>
            <div class="recommend_items">
                <a href="/zz/house/232925/" class="target_href"></a>
                <img data-cfsrc=" https://img.zhen22.com/userimgs/677885/0e5d67454bf82ba28abfaff813200241/200.134.jpg" class="house_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src=" https://img.zhen22.com/userimgs/677885/0e5d67454bf82ba28abfaff813200241/200.134.jpg" class="house_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                <div class="house_info">
                    <span class="house_name">升龙国际中心A区</span>
                    <span class="house_area">53㎡/1室1厅/66万</span>
                </div>
                <div class="waiter_info">
                    <img data-cfsrc="http://file.zhen22.com/agent/avatar/summer/18051443.jpg" class="waiter_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src="http://file.zhen22.com/agent/avatar/summer/18051443.jpg" class="waiter_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                    <div class="waiter_main">
                        <span class="waiter_name">沈志全</span>
                        <img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/recommend_ico.png" class="recommend_ico" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/recommend_ico.png" class="recommend_ico"></noscript>
                        <span class="text_content">低首付，学区房，地铁口</span>
                    </div>
                </div>
            </div>
            <div class="recommend_items">
                <a href="/zz/house/267222/" class="target_href"></a>
                <img data-cfsrc=" https://img.zhen22.com/userimgs/236752/77ffecb76b1b936677a65604b4f24224/200.134.jpg" class="house_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src=" https://img.zhen22.com/userimgs/236752/77ffecb76b1b936677a65604b4f24224/200.134.jpg" class="house_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                <div class="house_info">
                    <span class="house_name">东瑞园</span>
                    <span class="house_area">113㎡/2室2厅/230万</span>
                </div>
                <div class="waiter_info">
                    <img data-cfsrc="http://file.zhen22.com/agent/avatar/summer/16080819.jpg" class="waiter_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'" style="display:none;visibility:hidden;"><noscript><img src="http://file.zhen22.com/agent/avatar/summer/16080819.jpg" class="waiter_img" onerror="this.src='//static1.zhen22.com/a/mobile/img/default-new.png'"></noscript>
                    <div class="waiter_main">
                        <span class="waiter_name">吴秀丽</span>
                        <img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/recommend_ico.png" class="recommend_ico" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/recommend_ico.png" class="recommend_ico"></noscript>
                        <span class="text_content">稀缺好房</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="line-second"></span>
    <div class="recommend-title">
        <div class="wrapper-main">
            <span class="text">租房</span>
            <a class="href" href="/zz/rent/">查看更多</a>
        </div>
    </div>
    <ul class="rent_box">
        <li class="rent-item ">
            <a href="/zz/rent/detail/11207" class="rent-item-href"></a>
            <span class="name">美景鸿城三期</span>
            <span class="business">管城&nbsp;</span>
            <div class="brief">
                <span class="brief-num">2室2厅</span>
                <span class="area">77㎡</span>
            </div>
            <div class="price">
                <span class="num">2200元/月</span>
                <span class="pay-type">面议</span>
            </div>
            <div class="img-wrapper">
                <img data-cfsrc="//img.zhen22.com/userimgs/785117/0b85a1011136f6a1fc4be2b88dd422fe/270.180.jpg" alt="" onerror="this.src='//static1.zhen22.com/a/touch/img/default-new.png';this.onerror='';" style="display:none;visibility:hidden;"><noscript><img src="//img.zhen22.com/userimgs/785117/0b85a1011136f6a1fc4be2b88dd422fe/270.180.jpg" alt="" onerror="this.src='//static1.zhen22.com/a/touch/img/default-new.png';this.onerror='';"></noscript>
            </div>
        </li>
        <li class="rent-item ">
            <a href="/zz/rent/detail/11204" class="rent-item-href"></a>
            <span class="name">美林河畔</span>
            <span class="business">管城&nbsp;管南区域</span>
            <div class="brief">
                <span class="brief-num">3室2厅</span>
                <span class="area">113㎡</span>
            </div>
            <div class="price">
                <span class="num">3000元/月</span>
                <span class="pay-type">押1付3</span>
            </div>
            <div class="img-wrapper">
                <img data-cfsrc="//img.zhen22.com/userimgs/784883/ff6aec805101748ae0fbe8fc19676dce/270.180.jpg" alt="" onerror="this.src='//static1.zhen22.com/a/touch/img/default-new.png';this.onerror='';" style="display:none;visibility:hidden;"><noscript><img src="//img.zhen22.com/userimgs/784883/ff6aec805101748ae0fbe8fc19676dce/270.180.jpg" alt="" onerror="this.src='//static1.zhen22.com/a/touch/img/default-new.png';this.onerror='';"></noscript>
            </div>
        </li>
        <li class="rent-item last">
            <a href="/zz/rent/detail/11200" class="rent-item-href"></a>
            <span class="name">正弘数码公寓</span>
            <span class="business">金水&nbsp;文博广场</span>
            <div class="brief">
                <span class="brief-num">1室1厅</span>
                <span class="area">40㎡</span>
            </div>
            <div class="price">
                <span class="num">1800元/月</span>
                <span class="pay-type">押1付3</span>
            </div>
            <div class="img-wrapper">
                <img data-cfsrc="//img.zhen22.com/userimgs/784688/3460bb01982f37c857ae8fc3335a347b/270.180.jpg" alt="" onerror="this.src='//static1.zhen22.com/a/touch/img/default-new.png';this.onerror='';" style="display:none;visibility:hidden;"><noscript><img src="//img.zhen22.com/userimgs/784688/3460bb01982f37c857ae8fc3335a347b/270.180.jpg" alt="" onerror="this.src='//static1.zhen22.com/a/touch/img/default-new.png';this.onerror='';"></noscript>
            </div>
        </li>
    </ul>
    <div class="footer">
        <p class="url">zhen22.com</p>
        <p class="copyright">真二（深圳）房产经纪有限公司</p>
        <div style="width: 100%;height: 10px;"></div>
    </div>
    <div class="enroll_mask">
        <div class="enroll_main">
            <div class="enroll_tit">帮我找房</div>
            <div class="enroll_tip">拒绝骚扰，1对1服务，请告知适合联系您的时间</div>
            <ul class="choose_time_list">
                <li class="choose_time_item active" data-time="随时联系" data-tip="0">随时联系</li>
                <li class="choose_time_item" data-time="下班时间" data-tip="1">下班时间</li>
                <li class="choose_time_item last" data-time="工作时间" data-tip="2">工作时间</li>
            </ul>
            <div class="choose_time_tips">马上找房，刻不容缓！</div>
            <div class="input_box first">
                <input type="text" class="help_popup_msg" placeholder="简单描述你想要的房子或小区">
            </div>
            <div class="input_box">
                <input type="text" class="help_popup_tel" placeholder="输入手机号">
            </div>
            <div class="help_popup_btn">交给你了</div>
            <span class="help_popup_close_btn"></span>
        </div>
    </div>
    <div class="red_packet_mask">
        <div class="red_packet_container">
            <img data-cfsrc="//static1.zhen22.com/a/mobile/img/home/new_red_packet.png" alt="" class="red_packet_bg red_packet_click" style="display:none;visibility:hidden;"><noscript><img src="//static1.zhen22.com/a/mobile/img/home/new_red_packet.png" alt="" class="red_packet_bg red_packet_click"></noscript>
            <span class="close_red_packet_ico"></span>
        </div>
    </div>
</div>
<!-- /end main-content -->

<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/a/mobile/js/wx_share.js?11"></script>
<script>

    var wx_share = new WxShare({"appId":"wx353d7e64758dd209","nonceStr":"bOLnuZaMH3UU1Wqo","timestamp":1564332392,"url":"http:\/\/m.zhen22.com\/zz","signature":"786da5af6e90139f9b0b7974def3812418f71521"}, g_more_apis);

    wx_share.init(function ()
    {
        wx_share.shareConfig(g_share_config);
        wx_share.controlMenu(g_wx_option_show);
    });

</script>
<script>
    var currentCity = 'zz';
    var currentCityId = '4101';
    var currentCityName = '郑州';
    var cityConfig = {"community":1,"new_house":1,"second_house":1,"house_estimate":1,"rent_house":1,"mine_coupon":1,"auction_house":1,"save_money":1,"top_agent":1,"hot_business":1};
    var dns = {
        photo: 'img.zhen22.com',
        head: 'file.zhen22.com'
    };
    var user_id = '';
    var imAppId = '1400011356';
    var imAccountType = '5969';
    var current_user = '';
    var telVerify = 1;
</script>
<script src="//static1.zhen22.com/a/mobile/js/vendor/zepto.min.js?3"></script><script src="//static1.zhen22.com/a/mobile/js/vendor/fastclick.min.js?1"></script><script src="//static1.zhen22.com/a/mobile/js/vendor/avalon.mobile.min.js?1"></script><script src="//static1.zhen22.com/a/mobile/js/base.min.js?3"></script><script src="//static1.zhen22.com/a/mobile/js/top_tips.min.js?25"></script><script src="//static1.zhen22.com/a/mobile/js/topbar.min.js?8"></script><script src="//static1.zhen22.com/a/mobile/js/vendor/jquery-1.11.1.min.js?1"></script><script src="//static1.zhen22.com/a/mobile/js/vendor/swiper.min.js?1"></script><script src="//static1.zhen22.com/a/mobile/js/home/home.min.js?13"></script>
<script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
        _vds.push(['setAccountId', 'a59b4f3716550efd']);
        if(current_user){
            _vds.push(['setCS1', 'user_id', ]);
            _vds.push(['setCS2', 'nickname', '']);
            _vds.push(['setCS3', 'register_time', ]);
            _vds.push(['setCS4', 'register_from', ]);
        }
        (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
        })();
    })();
</script>
<script type='text/javascript' src='https://assets.growingio.com/sdk/wx/vds-wx-plugin.js'></script><script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?087bef04d2a107703c4c0630a4bc168d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script><div id="tpl_wechat"></div>
<script id="wechat" type="text/template">
    <div class="wechat_mask">
        <div class="wechat_box">
            <div class="wechat_title">
                微信关注“<span>真二网</span>”，查看更多信息。
            </div>
            <div class="wechat_code">
                <img src="//static1.zhen22.com/a/mobile/img/search/wechat_code.jpg"/>
            </div>
            <div class="wechat_prompt1">截图后打开微信，识别图中二维码</div>
            <div class="wechat_btn_box">
                <a href="weixin://dl/scan" class="wechat_btn">打开微信扫一扫</a>
            </div>
        </div>
    </div>
</script>
</body>
</html>


